.root {
    background-image: linear-gradient(to bottom right, #9b9580, #fbf7f7);
}

/* Gradient transparent - color - transparent */
hr.style-one {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #666464,	 rgba(0, 0, 0, 0));
}


.list--container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-around;
}
.page-header {
    justify-content: center
}

.card--container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-around;

}

.button-container {
    background-color: #9b9580;
}

h1.page-header-text {
    text-align: center;
    color: #666464;
}
.card {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-color: black;
    color: #666464;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 14rem;
    height: 17rem;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

/* message for private card which is currently shared" */
.card-message {
    background-color:#7f8c7f;
    color: #fbf7f7;
}

button.btn--add--gear {
    background-color: #7f8c7f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}